/*Header*/
/*Navbar ____________________________________________________________________________________ Nav bar*/
.homeIcon{
  max-height: 100px;
}
.MasterNavbar {
  z-index: 3;
  top: -8px;
  border-radius: 8px;
  max-width: 70%;
  min-width: max-content;
  height: 110px;
  color: var(--white);
  background: var(--smokey-black);
  position: relative;
  margin: var(--margin_center_horizental);
  box-shadow: var(--box-shadow-white);
}
.MasterNavbar li {
  font-size: 200%;
  text-align: center;
  padding: var(--padding_master);
}
.MasterNavbar a{
  width: 100%;
  height: 100%;
  color: var(--white);
  text-transform: capitalize;
}
a.ng-active{
  font-weight: 900;
  color: var(--master_primairy_color);
}

@media only screen and (min-width: 350px) and (max-width: 800px) {
  img.homeIcon {
    margin: 20px;
    position: absolute;
    max-height: 100px;
    max-width: 100px;
  }

  /*Navigate*/
  .MasterNavbar {
    max-width: 100%;
    width: 100%;
    height: max-content;
  }

  .MasterNavbar ul {
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }

  .MasterNavbar li {
    display: block;
    width: 100%;
  }

  .MasterNavbar a {
    margin: 0;
    padding: 0;
  }
}

