<script src="../app-routing.module.ts"></script>
<header>
  <nav class="navbar MasterNavbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <img class="homeIcon" src="assets/Images/favicon.ico"/>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="NavItem"><a style="cursor: pointer" [routerLink]="['']">Home</a></li>
        <li class="NavItem" (click)="OnOpenShop()"><a style="cursor: pointer" [routerLink]="['/shop']">Shop</a></li>
        <li class="NavItem" (click)="OnOpenShop()"><a style="cursor: pointer" [routerLink]="['/register']">Admin</a></li>
      </ul>
    </div>
  </nav>
</header>
