.window{
  z-index: 99;
  position: fixed;
  margin: 0 30vw;
  top: 40vw;
  text-align: center;
  padding: 10px;
  min-width: 40vw;
  border: 5px solid var(--master_third_color);
}
.btn-danger {
  background: var(--master_third_color);
  border: 1px solid var(--master_third_color_darker);
}
h2{
  width: 100%;
}

@media only screen and (min-width: 350px) and (max-width: 1200px) {
  .window{
    margin: 0;
    min-width: 95vw;

  }
}
