.cssSelection{
  min-height: 50VW;
  text-align: center;
  color: var(--white);
}
.cssSelection > h2{
  border: 5px solid var(--master_primairy_color);
  width: 100%;
  padding: 30px;
}
.cssSelection > h1{
  color: var(--master_primairy_color_light);
}
p{
  font-size: 130%;
}
