<article class="cssSelections Homepage">
  <section class="cssSelection newItemsDisplay">
    <header class="col-xs-12 text-center">
      <h2>Newest Products</h2>
    </header>
    <app-circus-picture [products]="newProducts" ></app-circus-picture>
  </section>
  <section class="cssSelection aboutSpace background ">
    <header class="col-xs-12">
      <h2>Why Space</h2>
    </header>
    <section class="col-xs-12">
      <p>
        The One Piece anime is—particularly compared to other long-running anime—extensively faithful to its source
        material,
        adapting nearly all of the manga's story content with a minimum of deliberate contradiction.
        Though it has altered and rearranged (and on rarer occasions, removed) a number of the manga's elements,
        it typically does so for time or content-rating purposes; when such changes contradict material later
        established by the manga,
        they are by default ignored, with the manga taking precedence.
      </p>
      <p>
        Due to the longrun of the series there have been recap episodes often told in flashbacks and later with new
        animation.
        (An in-depth listing of the anime's changes may be found on the articles for each individual story arc
        and—to a lesser extent—the articles for each individual episode. )
      </p>
    </section>
  </section>
</article>
