.shopSection {
  padding-top: 20px;
}

.shopSection > ul {
  list-style: none;
  position: relative;
}

.filters label {
  cursor: pointer;
  padding: 0 15px 0 5px;
  font-size: 110%;
  font-weight: bolder;
}

