<article class="cssSelections">
  <section class="cssSelection background col-xs-12">
    <header class="col-md-4">
      <h2>Universal shop</h2>
    </header>
    <p class="col-md-6">
      <strong>Welcome,Welkom ,Willkommen ,Bienvenu ,Benvenuta, Välkommen, Bienvenidas </strong><br>
      To the  universal shop. Here you can buy stars, plannets,  merchendise en more! Anything related to space!
      We are open for ideas so if you have some please send an email with ideas!<br>
      Time to find out what the universe has to offer. Look around.
    </p>
    <p class="col-md-1">
      <a routerLinkActive="activeLink" [routerLink]="['myCart']" href="#">My cart</a><br>
      <a routerLinkActive="activeLink" [routerLink]="['products']" href="#">The Shop</a>
    </p>
  </section>
  <section>
    <router-outlet></router-outlet>
  </section>
</article>
