<article class="cssSelections">
  <section class="cssSelection background col-xs-12">
    <header class="col-md-4">
      <h2>The lil'old shop</h2>
    </header>
    <p class="col-md-8">
      <strong>OIIIIII!</strong><br>
      Here you have it The fandom shop! Enjoy all the options we offer you!
      And dont forget to check out after you have filled your car.<br>
      We dont want you stealing our stuff.
    </p>
  </section>
  <app-filters></app-filters>
  <app-payment *ngIf="isInPayMode"></app-payment>
  <app-alert *ngIf="shopAlert"></app-alert>
 <app-shopping-cart></app-shopping-cart>
  <section class="shopSection col-xs-12">
    <ul class="col-xs-12">
      <app-item *ngFor="let product of shopProducts;let i = index"
                  [product]="product"
                  [i]="i"></app-item>
    </ul>
  </section>
</article>
