/*Shop _______________________________________________________________________ */
.shopSection {
  padding-top: 20px;
}

.shopSection > ul {
  list-style: none;
  position: relative;
}

/*Filters*/
.filters {
  text-align: left;
  font-size: 90%;
  color: var(--master_third_color);
  grid-column: auto/span 2;
}

.filterset div {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid var(--master_third_color);
}

.filters input[type=checkbox],checked {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.filters label {
  cursor: pointer;
  padding: 0 15px 0 5px;
  font-size: 110%;
  font-weight: bolder;
}

