<article class="container col-xs-12 background">
  <section class="container-fluid">
    <section class="col-xs-12 ">
      <form [formGroup]="userForm" class="loginForm col-xs-12">
        <label for="name">User name: </label><br>
        <input id="name" type="name" formControlName="name"><br>
          <div *ngIf="!isLogIn">
            <label for="email">E-mail: </label><br>
            <input id="email" type="email" formControlName="email"><br>
            <label>Admin rights: </label><br>
            <input id="admin" value="true" type="checkbox"
                   formControlName="admin"><label for="admin">Admin</label><br>
          </div>
          <br>
          <label for="pass">Password: </label><br>
          <input id="pass" type="password" formControlName="password"><br>
          <div *ngIf="!isLogIn">
            <label for="passCheck">checkPassword </label><br>
            <input id="passCheck" type="password">
          </div>
      </form>
      <div class="col-xs-12 loginForm">
        <button
          [disabled]="!userForm.valid"
          (click)="onSubmit()"
          type="submit" class="btn btn-primary"
        >
          {{isLogIn ? 'Log in' : 'Sign up!'}}</button>
        |
        <button (click)="onSwitchMode()"
                type="button"
                class="btn btn-success"
        >
          {{isLogIn ? 'Switch to Sign up' : 'Switch to Login'}}</button>
      </div>
    </section>
  </section>
</article>
