/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Universal Uses*/
* {
  margin: 0;
  padding: 0;
}

/*Master variables*/
:root {
  /*Text*/
  --master_font: 'Montserrat', sans-serif;

  /*colors*/
  --master_color: #0c0c0c;
  --master_color_light: #5b5b5b;
  --master_primairy_color: #372565;
  --master_primairy_color_light: #5e4ba9;
  --master_secundairy_color: #fded78;
  --master_third_color: #c06283;
  --master_third_color_darker: #853956;
  --header_primairy_color: #3b3479;
  --header_primairy_color_light: #949cf6;
  --white: #eeeeee;
  --gray: #d6d6d6;
  --smokey-black: #0e0e0e;
  --backgroundwhite: white;

  /*Transparent colors*/
  --transparent_white: rgba(238, 238, 238, 0.25);
  --transparent_black: rgba(27, 27, 27, 0.5);


  /*shadows*/
  --box-shadow: rgba(27, 27, 27, 0.64) 5px 5px 5px;
  --box-shadow-lifted: rgba(8, 8, 8, 0.84) 5px 15px 5px;
  --box-shadow-white: rgba(238, 238, 238, 0.64) 0 0 10px ;
  --box-shadow-white-lifted: rgba(244, 244, 244, 0.84) 5px 15px 5px;


  /*margin*/
  --master_bottem_margin: 20px;
  --margin_center_center: auto;
  --margin_center_horizental: 0 auto;
  --margin_center_vertical: auto 0;

  --padding_master:20px 0;

  /*    grid gaps*/
  --grid-gap-xl: 20%;
  --grid-gap: 10%;
}

/*Body elements*/
body {
  background:url(src/assets/Images/background/space.jpg) fixed no-repeat;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 14px;
  font-family: var(--master_font);
  font-style: normal;
  box-sizing: border-box;
  color: var(--white);
}
p {
  margin-bottom: var(--master_bottem_margin);
}
a{
  width: 80%;
  text-shadow: var(--smokey-black) 1px 1px 5px;
  color: var(--master_secundairy_color);
  font-weight: bolder;
  text-decoration: none;
}

a:hover{
  color: var(--master_primairy_color_light);
  text-decoration: none;
  border-bottom: solid var(--master_primairy_color_light) 3px;
  transition: width 1s ease;
}
.activeLink{
  background: none;
  color: var(--master_primairy_color_light);
  border-bottom: solid var(--master_primairy_color_light) 3px;
}
.activeLink :hover{
  background: none;
  color: var(--master_primairy_color_light);
  border-bottom: solid var(--master_primairy_color_light) 3px;
}
ul{
  list-style-type: square;
}
textarea{
  font-family: inherit;
}

/*Scrollbar ____________________________________________________________________________________*/
body::-webkit-scrollbar{
  background-color: transparent;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--master_primairy_color_light);
}
/*Images_____________________________________________________ Images*/
img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

figure {
  width: 100%;
  height: 100%;
  margin-bottom: var(--master_bottem_margin);
}

figcaption {
  font-weight: bold;
  font-size: 80%;
  color: var(--master_color_light);
  margin-bottom: var(--master_bottem_margin);
}
/*Page Specifics_____________________________________________________________________ Page Specifics*/

/*!*Basics*!*/
.cssSelections {
  overflow: hidden;
  background: var(--transparent_white);
  width: 100%;
  position: relative;
}
.cssSelections h2 {
  animation: slideIn 900ms ease-in forwards;
  width: 120%;
  height: max-content;
  position: relative;
  font-size: 250%;
  color: var(--master_primairy_color);
}

.cssSelection {
  position: relative;
  color: var(--smokey-black);
  padding: 20px 10%;
}
.background{
  z-index: 1;
  color: var(--white);
  background: var(--smokey-black);
}
.background h2{
  color: var(--master_secundairy_color) !important;
}
.premBut{
  font-weight: bold;
  background: var(--master_primairy_color_light);
  border: none;
}

/*____________________________________________________________________________________________________________________*/

/*Key frames / Animatie*/
@keyframes slideIn{
  0% {
    margin-top:-100px;
  }
  100%{
    margin-top: 0;
  }
}
@keyframes slideLeft {
  0% {
    margin-left: 100%;
    width: 300%;
  }

  100% {
    margin-left: 0;
    width: 100%;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

/*______________________________*Responsive media input*______________________________________________________________________________________*/












/*____________________________________________________________________________________________________________________*/
@media only screen and (min-width: 1601px) {
  body {
    background-size: cover;
  }
}
/*Desktop*/
@media only screen and (min-width: 1201px) {
}

/*Tablet Horizontal_____________________________________________________________________________________________ Tablet*/
@media only screen and (max-width: 1200px) and (min-width: 800px) {
  /*Pages*/
  .triplespan {
    grid-column: auto/span 3;
  }

  .doublespan {
    grid-column: auto/span 2;
  }

  /*Shop*/
  .filters {
    grid-column: auto/span 3;
  }
}

/*Tablet vertical*/
@media only screen and (min-width: 601px) and (max-width: 799px) {
  /*Shop*/
  .itemOfShop {
    height: 50px;
  }

  .filterset{
    width: 100%;
  }
}
/*Mobile _________________________________________________________________________________________________________________Mobile*/
@media only screen and (min-width: 350px) and (max-width: 600px) {

  /*  Page*/
  .cssSelection {
    grid-template-columns: 1fr;
  }
  #cssSelections h2{
    animation: none;
  }
  .triplespan {
    grid-column: auto/span 1;
  }
  .doublespan{
    grid-column: auto/span 1;
  }

  /*Shop_______________________*/
  .itemOfShop {
    width: 100%;
    height: 40px;
  }

  .ShoppingCart{
    right: 2vh;
  }
}

/*    Unused ___________________________________________________________________________________________*/
@media only screen and (max-width: 370px) {
  body {
    display: none;
  }
}


