.auth-form{
  text-align: center;
  padding: 10%;
}
form, .auth-form button{
  padding: 2%;
}

.auth-form button.btn-primary {
  border: 2px solid var(--master_third_color_darker);
  background: var(--master_third_color);
  color: var(--smokey-black);
}
loginForm > label, auth-form.loginForm > div > label {
  font-size: 16px;
  font-weight: bold;
  padding-left: -20px;
  padding: 5px;
  color: var(--master_secundairy_color);
}

input {
  width: 110%;
  color: var(--smokey-black);
  border: 2px solid var(--master_primairy_color_light);
}

input.ng-invalid .ng-touched {
  border: 3px solid var(--master_primairy_color);
}
.filer-section {
  text-align: center;
  padding: 2%;
}
.filer-section>figure>img {
  box-shadow: var(--box-shadow-white);
  max-width: 500px;
  border-radius: 10%;
}
.filer-section > button{
  border: 2px solid var(--master_primairy_color_light);
  background: var(--master_primairy_color_light);
  font-weight: 600;
  box-shadow: var(--box-shadow-white);
  color: var(--smokey-black);
}
