<article class="container-fluid">
  <section class="background window container-fluid">
    <section class="payment">
      <header>
        <h2>Pay cart</h2>
      </header>
      <p>Your total will be: &#8364;<span>{{getPrice()}}</span></p>
      <p>Your cart is filled with: <span *ngFor="let item of cartItems">{{item._product.name}}<br></span></p>
      <form [formGroup]="clientForm" class="col-sm-8">
        <label for="cName">Name :</label><br>
        <input formControlName="name"
               type="text"
               id="cName"
        required="">
        <br>
        <label *ngIf="!userIsRegistered" for="cMail">E-mail *: </label><br>
        <input formControlName="mail"
               type="mail"
               id="cMail"
              required="">
      </form>
      <section class="btn-group">
        <button [disabled]="!clientForm.valid" (click)="onPaymentSucceed()" class="btn-prem btn col-xs-12">Pay</button>
        <br>
        <p (click)="onCancelPayment()" class="no col-xs-6">Don't pay yet</p>
      </section>
    </section>
  </section>
</article>
